/* Body*/
body {
    font-family: "Verdana", Sans-Serif;
    font-size: 10pt;
}
/*Table style*/
.tb { 
    border-collapse: collapse; 
}
.tb th, .tb td { 
    padding: 6px; 
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px #777; 
    text-align: center;
}
.tb th { 
    background-color: lightblue; 
    text-align: center;
}